.container{
    width: 450px;
    height: 35px;
    /* border: solid green; */
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
}

.input{
    width: 450px;
    height: 35px;
    /* width: 300px; */
    font-size: 16px;
    padding: 0 10px;
}

.listData{
    /* border: solid red; */
    display: flex;
}

.listData-content{
    width: 450px;
    display: flex;
    /* flex-direction: ; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 20px;
    padding: 10px;
}

.text-para{
    width: 249px;
    text-align:start;
}